body {
  margin: 0 !important;
  padding-top: 30px;
  background-color: #1c2230 !important;
}
/*font-family: 'Raleway', sans-serif;*/
/*font-family: 'Open Sans', sans-serif;*/
.col1 {
  flex: 30;
}
.col2 {
  flex: 70%;
}
.h-btn {
  padding-left: 20px;
  padding-right: 20px;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: hsl(0, 0%, 100%);
}
.body-first-section img {
  margin-left: auto;
  margin-right: auto;
}
.intro-title {
  color: hsl(0, 0%, 100%);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}
.intro-desc {
  color: hsl(0, 0%, 100%);
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

@media only screen and (min-width: 1280px) {
  /*font-family: 'Raleway', sans-serif;*/
  /*font-family: 'Open Sans', sans-serif;*/
  .header {
    padding-top: 40px;
    padding-right: 80px;
    padding-left: 80px;
  }
  .intro-img {
    width: 40%;
    margin-top: 80px;
  }
  .intro-title {
    font-size: 41px;
    padding-left: 28vw;
    padding-right: 28vw;
    margin-top: 40px;
  }
  .intro-desc {
    font-size: 20px;
    padding-left: 32vw;
    padding-right: 32vw;
    margin-top: 40px;
  }
  .body-second-section {
    background: url("/images/bg-curvy-desktop.svg");
    background-size: cover;
    background-position: center;
    height: 60vh;
    margin-top: -180px;
  }
  .call-btn {
    width: 280px;
    height: 56px;
    font-family: "Raleway", sans-serif;
    font-size: 21px;
    font-weight: 400;
    color: white;
    background-image: linear-gradient(
      to right,
      hsl(176, 68%, 64%),
      hsl(198, 60%, 50%)
    );
    border-radius: 50px;
    line-height: 56px;
    margin-top: 220px;
  }
  .body-third-section {
    background-color: #181e2a;
    margin-top: 15vh;
  }
  .f-first-row {
    margin-top: -200px !important;
  }
  .f-second-row {
    margin-top: 80px !important;
  }
  .feature-section {
    padding-left: 100px !important;
    padding-right: 100px !important;
  }
  .feature-section img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 70px;
  }
  .feature-section h3,
  p {
    color: white;
  }
  .feature-section h3 {
    margin-top: 20px !important;
  }
  .f-third-row {
    margin-top: 100px !important;
  }
  .third-img img {
    width: 90% !important;
  }
  .third-title h2 {
    color: white !important;
    padding-top: 5vh !important;
    padding-right: 300px !important;
  }
  .third-title p {
    padding-top: 20px !important;
  }
  .third-title a {
    text-decoration: none;
    padding-bottom: 4px;
    border-bottom: 1px solid hsl(176, 68%, 64%);
    color: hsl(176, 68%, 64%);
  }
  .f-fourth-row {
    margin-top: 150px !important;
  }
  .quote {
    z-index: 1 !important;
    position: absolute;
    margin-top: -35px;
    margin-left: -11vw;
  }
  .cus-card1,
  .cus-card2,
  .cus-card3 {
    z-index: 10;
    position: relative;
    padding-top: 25px;
    padding-left: 20px !important;
    padding-right: 20px !important;
    padding-bottom: 10px;
    margin-right: 10px !important;
    margin-left: 10px !important;
    background-color: hsl(219, 30%, 18%);
    border-radius: 5px;
  }
  .cus-rev {
    font-size: 14px;
  }
  .cus-img {
    width: 10%;
    height: 10%;
    border-radius: 25px;
  }
  .cus-det {
    padding-left: 20px;
  }
  .cus-name {
    font-size: 12px;
  }
  .cus-pos {
    font-size: 8px;
    margin-top: -15px;
  }
  .mail-container {
    width: 800px !important;
    height: 200px;
    background-color: #1c2230;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 180px !important;
    padding-left: 40px !important;
    padding-right: 40px !important;
  }
  .mail-title {
    color: white;
    padding-top: 40px;
  }
  .mail-add {
    flex: 60%;
    width: 300px;
    height: 50px;
    border-radius: 25px;
    background-color: white;
    margin: 0 auto;
    line-height: 50px;
  }
  .mail-add p {
    color: black;
    opacity: 0.4;
    margin-left: 20px;
  }
  .mail-btn {
    flex: 40%;
  }
  .m-btn {
    width: 200px !important;
    height: 50px;
    color: white;
    margin: 0 auto;
    border-radius: 25px;
    line-height: 50px;
    background-image: linear-gradient(
      to right,
      hsl(176, 68%, 64%),
      hsl(198, 60%, 50%)
    );
  }
}
