body {
  margin: 0 !important;
  padding-top: 30px;
  background-color: #1c2230 !important;
}
/*font-family: 'Raleway', sans-serif;*/
/*font-family: 'Open Sans', sans-serif;*/
.header {
  padding-left: 20px;
  padding-top: 10px;
}
.col1 {
  flex: 30;
}
.col2 {
  flex: 70%;
}
.col1 img {
  width: 100px;
}
.h-btn {
  padding-left: 20px;
  padding-right: 20px;
  font-family: "Raleway", sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: hsl(0, 0%, 100%);
}
.body-first-section img {
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}
.intro-img {
  width: 300px;
}
.intro-title {
  color: hsl(0, 0%, 100%);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 25px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 40px;
}
.intro-desc {
  color: hsl(0, 0%, 100%);
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 20px;
}
.body-second-section {
  background: url("/images/bg-curvy-mobile.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 60vh;
  margin-top: -450px;
}
.call-btn {
  width: 280px;
  height: 56px;
  font-family: "Raleway", sans-serif;
  font-size: 21px;
  font-weight: 400;
  color: white;
  background-image: linear-gradient(
    to right,
    hsl(176, 68%, 64%),
    hsl(198, 60%, 50%)
  );
  border-radius: 50px;
  line-height: 56px;
  margin-top: 470px;
}
.body-third-section {
  background-color: #181e2a;
  margin-top: -24vh;
}
.f-first-row {
  padding-top: 45vh !important;
}
.feature-section img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px !important;
  height: 80px;
}
.feature-section h3,
p {
  margin-top: 20px !important;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}
.third-img img {
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
}
.third-title h2 {
  font-size: 20px;
  color: white !important;
  padding-top: 6vh !important;
  padding-left: 20px;
  padding-right: 20px;
}
.third-title p {
  font-size: 16px;
}
.third-title a {
  font-size: 16px;
  text-decoration: none;
  padding-bottom: 4px;
  border-bottom: 1px solid hsl(176, 68%, 64%);
  color: hsl(176, 68%, 64%);
  margin-left: 20px;
  margin-right: 20px;
}
.f-fourth-row {
  margin-top: 150px !important;
}
.quote {
  z-index: 1 !important;
  position: absolute;
  width: 30px;
  margin-top: -10px;
  margin-left: -30vw;
}
.cus-card1,
.cus-card2,
.cus-card3 {
  z-index: 10;
  position: relative;
  padding-top: 10px;
  padding-left: 10px !important;
  padding-right: 10px !important;
  padding-bottom: 10px;
  margin-top: 15px !important;
  margin-bottom: 15px !important;
  margin-right: 40px !important;
  margin-left: 40px !important;
  background-color: hsl(219, 30%, 18%);
  border-radius: 5px;
}
.cus-rev {
  font-size: 12px;
}
.cus-img {
  width: 10%;
  height: 10%;
  margin-left: 20px !important;
  border-radius: 25px;
}
.cus-det {
  margin-top: -20px !important;
}
.cus-name {
  font-size: 12px;
}
.cus-pos {
  font-size: 8px;
  margin-top: -15px !important;
}
.mail-container {
  z-index: 2 !important;
  width: 320px !important;
  background-color: #1c2230;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 180px !important;
  padding-bottom: 60px !important;
}
.mail-title {
  color: white;
  padding-top: 40px;
}
.mail-desc {
  font-size: 15px;
}
.mailbox {
  display: block !important;
}
.mail-add {
  width: 280px;
  height: 50px;
  border-radius: 25px;
  background-color: white;
  margin: 0 auto;
  line-height: 50px;
}
.mail-add p {
  color: black;
  opacity: 0.4;
  margin-left: 20px;
  font-size: 12px;
}
.mail-btn {
  margin-top: 30px;
}
.m-btn {
  width: 280px;
  height: 50px;
  color: white;
  margin: 0 auto;
  border-radius: 25px;
  line-height: 50px;
  background-image: linear-gradient(
    to right,
    hsl(176, 68%, 64%),
    hsl(198, 60%, 50%)
  );
}
.body-footer {
  z-index: 1 !important;
  padding-top: 200px !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
  padding-bottom: 100px !important;
  background-color: hsl(216, 53%, 9%);
  margin-top: -150px;
}
.foo-logo {
  width: 200px;
}
.foo-add {
  padding-top: 20px !important;
}
.foo-loc {
  height: 20px;
  margin-top: 20px !important;
}
.foo-add-txt {
  font-size: 14px;
  padding-left: 20px !important;
}
.foo-ph,
.foo-email {
  height: 17px;
}
.foo-ph-num,
.foo-mail-txt {
  margin-top: -4px !important;
}
.foo-f-ul,
.foo-s-ul {
  padding-top: 70px;
  margin-left: -32px !important;
}
ul li {
  color: white;
  list-style: none;
}
.foo-social {
  justify-content: space-around;
  padding-top: 70px;
}
.foo-social img {
  width: 25px;
}

@media only screen and (min-width: 1280px) {
  /*font-family: 'Raleway', sans-serif;*/
  /*font-family: 'Open Sans', sans-serif;*/
  .header {
    padding-top: 40px;
    padding-right: 80px;
    padding-left: 80px;
  }
  .col1 img {
    width: 170px;
  }
  .h-btn {
    font-size: 14px;
  }
  .intro-img {
    width: 40%;
    margin-top: 80px;
  }
  .intro-title {
    font-size: 41px;
    padding-left: 28vw;
    padding-right: 28vw;
    margin-top: 40px;
    padding-left: 20vw !important;
    padding-right: 20vw !important;
  }
  .intro-desc {
    font-size: 18px;
    padding-left: 30vw;
    padding-right: 30vw;
    margin-top: 40px;
  }
  .body-second-section {
    background: url("/images/bg-curvy-desktop.svg");
    background-size: cover;
    background-position: center;
    height: 60vh;
    margin-top: -180px;
  }
  .call-btn {
    width: 280px;
    height: 56px;
    font-size: 21px;
    font-weight: 400;
    color: white;
    background-image: linear-gradient(
      to right,
      hsl(176, 68%, 64%),
      hsl(198, 60%, 50%)
    );
    border-radius: 50px;
    line-height: 56px;
    margin-top: 220px;
  }
  .body-third-section {
    background-color: #181e2a;
    margin-top: 15vh;
  }
  .f-first-row {
    margin-top: -200px !important;
    padding-top: 0 !important;
  }
  .f-second-row {
    margin-top: 80px !important;
  }
  .feature-section {
    padding-left: 100px !important;
    padding-right: 100px !important;
  }
  .feature-section img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px !important;
    height: 70px;
  }
  .feature-section h3,
  p {
    margin-top: 0px;
    color: white;
    padding-left: 0px;
    padding-right: 0px;
  }
  .feature-section h3 {
    margin-top: 20px !important;
  }
  .f-third-row {
    margin-top: 100px !important;
  }
  .third-img img {
    width: 90% !important;
    display: block;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
  }
  .third-title h2 {
    color: white !important;
    padding-top: 5vh !important;
    padding-right: 300px !important;
  }
  .third-title p {
    padding-top: 20px !important;
  }
  .third-title a {
    text-decoration: none;
    padding-bottom: 4px;
    border-bottom: 1px solid hsl(176, 68%, 64%);
    color: hsl(176, 68%, 64%);
    margin-left: 0px;
    margin-right: 0px;
  }
  .f-fourth-row {
    margin-top: 150px !important;
  }
  .quote {
    z-index: 1 !important;
    position: absolute;
    width: 50px;
    margin-top: -35px;
    margin-left: -13vw;
  }
  .cus-card1,
  .cus-card2,
  .cus-card3 {
    z-index: 10;
    position: relative;
    padding-top: 25px;
    padding-left: 20px !important;
    padding-right: 20px !important;
    padding-bottom: 10px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    margin-right: 10px !important;
    margin-left: 10px !important;
    background-color: hsl(219, 30%, 18%);
    border-radius: 5px;
  }
  .cus-rev {
    font-size: 14px;
  }
  .cus-img {
    width: 10%;
    height: 10%;
    padding-left: 0px;
    border-radius: 25px;
  }
  .cus-det {
    padding-left: 20px;
    margin-top: 0px;
  }
  .cus-name {
    font-size: 12px;
  }
  .cus-pos {
    font-size: 8px;
    margin-top: -15px;
  }
  .mail-container {
    z-index: 2 !important;
    width: 800px !important;
    background-color: #1c2230;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 180px !important;
    padding-left: 40px !important;
    padding-right: 40px !important;
    padding-bottom: 60px !important;
  }
  .mail-title {
    color: white;
    padding-top: 40px;
  }
  .mail-desc {
    font-size: 13px;
  }
  .mailbox {
    display: flex !important;
    margin-top: 30px !important;
  }
  .mail-add {
    flex: 60%;
    width: 300px;
    height: 50px;
    border-radius: 25px;
    background-color: white;
    margin: 0 auto;
    line-height: 10px;
  }
  .mail-add p {
    color: black;
    opacity: 0.4;
    margin-left: 20px;
    font-size: 15px;
  }
  .mail-btn {
    flex: 40%;
    margin-top: 0px;
  }
  .m-btn {
    width: 200px !important;
    height: 50px;
    color: white;
    margin: 0 auto;
    border-radius: 25px;
    line-height: 50px;
    background-image: linear-gradient(
      to right,
      hsl(176, 68%, 64%),
      hsl(198, 60%, 50%)
    );
  }
  .body-footer {
    z-index: 1 !important;
    padding-top: 200px !important;
    padding-left: 80px !important;
    padding-right: 80px !important;
    padding-bottom: 100px !important;
    background-color: hsl(216, 53%, 9%);
    margin-top: -100px;
  }
  .foo-logo {
    width: 60%;
  }
  .foo-add {
    padding-top: 20px !important;
  }
  .foo-loc {
    height: 20px;
    margin-top: 20px !important;
  }
  .foo-add-txt {
    font-size: 13px;
    padding-left: 20px !important;
  }
  .foo-phone {
    padding-top: 70px;
    margin-top: 20px !important;
  }
  .foo-ph,
  .foo-email {
    height: 17px;
  }
  .foo-ph-num,
  .foo-mail-txt {
    padding-left: 20px;
    margin-top: -4px;
  }
  .foo-f-ul,
  .foo-s-ul {
    padding-top: 70px;
    margin-top: 20px !important;
  }
  ul li {
    color: white;
    font-size: 14px;
  }
  .foo-social {
    justify-content: space-around;
    padding-top: 70px;
    margin-top: 20px !important;
  }
  .foo-social img {
    width: 25px;
  }
}
